.links {
  display: flex;
  flex-direction: column;
}
.debugItems {
  position: absolute;
  bottom: 10px;
}

  @media (max-width: 768px) {
  /* スマホ専用のCSSを書く場所 */
  
    .block {
      width: 100%;
    }
  
  }